@import "_variables.scss";
@import "_animations.scss";

body {
    background-color: darkgrey;
}
.poster-frame {
    height: 90vh;
    width: 58.5vh;
    background-color: $background;
    margin: 5vh auto;
    outline: .25rem solid #555555;
    overflow: hidden;
    position: relative;
}

.sun {
    height: $sun-height;
    width: $sun-height;
    background-color: $sun-background;
    transform: translateY(5vh) translateX(25%);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    .sun-color-1, .sun-color-2, .sun-color-3 {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .sun-color-1 {
        background-image: linear-gradient(#EEBAA5, #DE7D8E 70%);
        animation: opacity-change1;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    .sun-color-2 {
        background: #5583BE;
        animation: opacity-change2;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    .sun-color-3 {
        background-image: linear-gradient(#EF4700 20%, #FF9919 90%);
        animation: opacity-change3;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }    
    .stripes {
        animation-name: animated-stripes;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        z-index: 10;
        position: relative;
        div {
            height: $stripe-height;
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            div {
                height: 1.2vh;
                background-color: $background;
            }
        }
    }
}

.city-wrapper {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .city-buildings {
        width: 100%;
        height: 60%;
        position: absolute;
        background-image: url(../../dist/img/skyline.png);
        background-size: 151%;
        background-position-x: 51%;
        transform: scaleY(.65);
        top: 12vh;
        background-repeat: no-repeat;
        filter: brightness(0.7);
        z-index: 10;
    }
    .city-skyline {
        width: 100%;
        height: 57%;
        position: absolute;
        background-image: url(../../dist/img/Skyline.svg);
        background-size: 110%;
        background-position-x: 45%;
        background-position-y: 100%;
        transform: scaleY(.85);
        top: 8vh;
        background-repeat: no-repeat;
        filter: brightness(0.5);
        z-index: 9;
    }
    .city-building {
        width: 100%;
        height: 57%;
        position: absolute;
        background-image: url("../../dist/img/empire\ state\ building.png");
        background-size: 148%;
        background-position-x: 86%;
        background-position-y: 120%;
        transform: scaleY(.85);
        top: 8vh;
        background-repeat: no-repeat;
        filter: brightness(.3);
        z-index: 9;
    }
}

.sunset {
    background: linear-gradient(to top, rgba(255,2,2,1) 0%,rgba(125,185,232,0) 100%);
    position: absolute;
    width: 100%;
    height: 15vh;
    top: 38vh;
    opacity: 0.5;
}

.grid {
    width: 100%;
    height: 90vh;
    position: absolute;
    transform-origin: (50% 50%);
    transform: perspective(9vh) rotateX(67deg) scaleX(5.6) translate3d(0vh, 9vh, -65vh);
    box-shadow: 2vh 0px 67vh 57vh rgba(255, 2, 2, 0.1);
    top: -1vh;
    .horizontal-lines, .vertical-lines {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.75;
    }
    .horizontal-lines {
        div {
            width: 100%;
            height: $line-height;
            div {
                width: 100%;
                height: .5vh;
                background-color: blue;
                box-shadow: 0px 0px 13px 2px rgba(20, 47, 184,0.5);
            }
        }
        animation: animated-lines;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    .vertical-lines {
        display: flex;
        justify-content: flex-start;
        div {
            height: 100%;
            width: 14.2857143%;
            div {
                width: 0.15vh;
                height: 100%;
                background-color: blue;
                box-shadow: 0px 0px 13px 2px rgba(20, 47, 184,0.5);
            }
        }
    }
    .h-line-0, .v-line-0 {
        visibility: hidden;
    }
}


.car {
    position: absolute;
    width: 100%;
    height: 50vh;
    background-image: url(../../dist/img/car_4.gif);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1000;
    top: 30vh;
}

